
<div class="row">
	<div class="col-md-2">
		<section id="home">
		  <p>Agencies:</p>
		  <select ng-model="agency" ng-change="getAdvertisers(agency._id)" ng-options="agency as agency.name for agency in agencies" class="form-control">
			</select>
			<br>
			<br>
			<p>Advertisers:</p>
		  <select ng-model="advertiser" ng-options="advertiser as advertiser.name for advertiser in advertisers" class="form-control">
			</select>
			<br>
			<br>
			<br>
			<button class="btn btn-primary" ng-click="getCampaigns(advertiser._id)">Get Campaigns</button>
		</section>
	</div>
	<div class="col-md-10">
		<campaign ng-show="showBool"></campaign>
	</div>
</div>


<modal visible="showModal">
	<div class="modal-header">
    <h2 class="modal-title">Success!</h2>
  </div>
  <div class="modal-body">
    <p>All selected creatives have been successfully updated!</p>
  </div>
 	<div class="modal-footer">
  	<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	</div>
</modal>

<modal visible="showModalError">
	<div class="modal-header">
    <h2 class="modal-title">Error!</h2>
  </div>
  <div class="modal-body">
    <p>There was an error saving your campaigns!</p>
  </div>
 	<div class="modal-footer">
  	<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	</div>
</modal>
